#navBar {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.link {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.icons {
  padding: 10px 15px;
  color: white;
}

#searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}

#searchInput {
  padding: 10px;
  height: 12px;
  border: none;
  width: 100%;
}

#itemCount {
  color: white;
  padding-right: 10px;
}
